<div class="jumbotron">
  <h2 class="display-4"><%= event.title %></h2>
  <p class="lead">Date: <%= event.date %> <span class="badge badge-success"><%=event.status %></span></p>
  <hr class="my-4">
  <p><%= event.sub_title %></p>
  <div class="text-right">
  <%= link_to "Show more", event_path(event), method: :get, class: "btn btn-primary btn-lg", role: "button" %>
  <%= link_to "Edit Event", edit_event_path(event), method: :get, class: "btn btn-primary btn-lg", role: "button" %>
  </div>
</div>